@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

@layer base {
  body {
    @apply bg-red-500 bg-center flex flex-col items-center pt-12 px-6 font-titillium-web text-dark-blue;
  }
}

@layer utilities {
  /* customize scrollbar */
  .dark-blue-scrollbar::-webkit-scrollbar {
    @apply w-[3px] bg-transparent;
  }

  .dark-blue-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-dark-blue;
  }
}
